.Sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidenav-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1rem .5rem rgba($black, .25);
    // border: 1px solid red;
    background-color: rgba(#f0f0f0, .60);


    &__banner {
        width: 100%;
        padding: 2rem 2.5rem;
        // border-bottom: 1px solid red;
        border-radius: 35px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 3rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        // border: 1px solid red;
    }

    &__item {
        // border: 1px solid red;
        text-decoration: none;
        text-transform: capitalize;
        padding: 1rem;
        display: flex;
        align-items: center;
        color: $black;
        border-radius: 5px;
        transition: all .1s ease-in-out;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &:hover {
            color: $white;
            background-color: $green;
            font-weight: 700;
        }

        &--active {
            color: $white;
            background-color: $green;
            font-weight: 700;
        }
    };

    &__icon {
        // border: 1px solid red;
        margin-top: .15rem;
        margin-right: 1rem;
    }

    @media(max-width: 1000px) {
        display: none;
    }

}