$sidenav-width: 23rem;
$menu-height: 10.5rem;
$black: #000000;
$content-padding: 0 2.5rem 0 1rem;
$body-color: rgba(#f0f0f0, .1);
$white: #fff;
$green: #6bbf58;
$dark-green: green;
$gray: #ececec;
$darkgray: #808080;
$red: red;
$darkblue: #0072E5;
$blue: #61b2e0;
$lightBlue: #c4def6;