$sidenav-width: 23rem;
$menu-height: 10.5rem;
$black: #000000;
$content-padding: 0 2.5rem 0 1rem;
$body-color: rgba(#f0f0f0, .1);
$metallic-sunburst: #FFD791;
$metallic-sunburst-rgba: rgba(255, 215, 145, 1);